gf2bv @ https://github.com/maple3142/gf2bv/
gmpy2
httpx
ipython
LibcSearcher @ https://github.com/lieanu/LibcSearcher/
owiener
pwntools
pycryptodome
qiskit
qiskit-aer
randcrack
requests
rich
tqdm
z3-solver
crccheck
